<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.NonstarmarketingrecordsMapper">
    
    <resultMap type="Nonstarmarketingrecords" id="NonstarmarketingrecordsResult">
        <result property="id"    column="id"    />
        <result property="hotelId"    column="hotel_id"    />
        <result property="roomTypeId"    column="room_type_id"    />
        <result property="totalSales"    column="total_sales"    />
    </resultMap>

    <sql id="selectNonstarmarketingrecordsVo">
        select id, hotel_id, room_type_id, total_sales from nonstarmarketingrecords
    </sql>

    <select id="selectNonstarmarketingrecordsList" parameterType="Nonstarmarketingrecords" resultMap="NonstarmarketingrecordsResult">
        <include refid="selectNonstarmarketingrecordsVo"/>
        <where>  
            <if test="hotelId != null "> and hotel_id like concat('%', #{hotelId}, '%')</if>
            <if test="roomTypeId != null "> and room_type_id like concat('%', #{roomTypeId}, '%')</if>
        </where>
    </select>
    
    <select id="selectNonstarmarketingrecordsById" parameterType="Long" resultMap="NonstarmarketingrecordsResult">
        <include refid="selectNonstarmarketingrecordsVo"/>
        where id = #{id}
    </select>

    <insert id="insertNonstarmarketingrecords" parameterType="Nonstarmarketingrecords" useGeneratedKeys="true" keyProperty="id">
        insert into nonstarmarketingrecords
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hotelId != null">hotel_id,</if>
            <if test="roomTypeId != null">room_type_id,</if>
            <if test="totalSales != null">total_sales,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hotelId != null">#{hotelId},</if>
            <if test="roomTypeId != null">#{roomTypeId},</if>
            <if test="totalSales != null">#{totalSales},</if>
         </trim>
    </insert>

    <update id="updateNonstarmarketingrecords" parameterType="Nonstarmarketingrecords">
        update nonstarmarketingrecords
        <trim prefix="SET" suffixOverrides=",">
            <if test="hotelId != null">hotel_id = #{hotelId},</if>
            <if test="roomTypeId != null">room_type_id = #{roomTypeId},</if>
            <if test="totalSales != null">total_sales = #{totalSales},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNonstarmarketingrecordsById" parameterType="Long">
        delete from nonstarmarketingrecords where id = #{id}
    </delete>

    <delete id="deleteNonstarmarketingrecordsByIds" parameterType="String">
        delete from nonstarmarketingrecords where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>