<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.NonstarbookingsMapper">
    
    <resultMap type="Nonstarbookings" id="NonstarbookingsResult">
        <result property="id"    column="id"    />
        <result property="hotelId"    column="hotel_id"    />
        <result property="roomTypeId"    column="room_type_id"    />
        <result property="guestId"    column="guest_id"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="recorded"    column="recorded"    />
        <result property="checkInTime"    column="check_in_time"    />
        <result property="checkOutTime"    column="check_out_time"    />
        <result property="guestName"    column="guest_name"    />
        <result property="ownerId"    column="owner_id"    />
    </resultMap>

    <sql id="selectNonstarbookingsVo">
        select id, hotel_id, room_type_id, guest_id, contact_number, recorded, check_in_time, check_out_time, guest_name, owner_id from nonstarbookings
    </sql>

    <select id="selectNonstarbookingsList" parameterType="Nonstarbookings" resultMap="NonstarbookingsResult">
        <include refid="selectNonstarbookingsVo"/>
        <where>  
            <if test="hotelId != null "> and hotel_id like concat('%', #{hotelId}, '%')</if>
            <if test="roomTypeId != null "> and room_type_id like concat('%', #{roomTypeId}, '%')</if>
            <if test="guestId != null "> and guest_id like concat('%', #{guestId}, '%')</if>
            <if test="guestName != null  and guestName != ''"> and guest_name like concat('%', #{guestName}, '%')</if>
        </where>
    </select>
    
    <select id="selectNonstarbookingsById" parameterType="Long" resultMap="NonstarbookingsResult">
        <include refid="selectNonstarbookingsVo"/>
        where id = #{id}
    </select>

    <insert id="insertNonstarbookings" parameterType="Nonstarbookings" useGeneratedKeys="true" keyProperty="id">
        insert into nonstarbookings
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hotelId != null">hotel_id,</if>
            <if test="roomTypeId != null">room_type_id,</if>
            <if test="guestId != null">guest_id,</if>
            <if test="contactNumber != null">contact_number,</if>
            <if test="recorded != null">recorded,</if>
            <if test="checkInTime != null">check_in_time,</if>
            <if test="checkOutTime != null">check_out_time,</if>
            <if test="guestName != null">guest_name,</if>
            <if test="ownerId != null">owner_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hotelId != null">#{hotelId},</if>
            <if test="roomTypeId != null">#{roomTypeId},</if>
            <if test="guestId != null">#{guestId},</if>
            <if test="contactNumber != null">#{contactNumber},</if>
            <if test="recorded != null">#{recorded},</if>
            <if test="checkInTime != null">#{checkInTime},</if>
            <if test="checkOutTime != null">#{checkOutTime},</if>
            <if test="guestName != null">#{guestName},</if>
            <if test="ownerId != null">#{ownerId},</if>
         </trim>
    </insert>

    <update id="updateNonstarbookings" parameterType="Nonstarbookings">
        update nonstarbookings
        <trim prefix="SET" suffixOverrides=",">
            <if test="hotelId != null">hotel_id = #{hotelId},</if>
            <if test="roomTypeId != null">room_type_id = #{roomTypeId},</if>
            <if test="guestId != null">guest_id = #{guestId},</if>
            <if test="contactNumber != null">contact_number = #{contactNumber},</if>
            <if test="recorded != null">recorded = #{recorded},</if>
            <if test="checkInTime != null">check_in_time = #{checkInTime},</if>
            <if test="checkOutTime != null">check_out_time = #{checkOutTime},</if>
            <if test="guestName != null">guest_name = #{guestName},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNonstarbookingsById" parameterType="Long">
        delete from nonstarbookings where id = #{id}
    </delete>

    <delete id="deleteNonstarbookingsByIds" parameterType="String">
        delete from nonstarbookings where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="confirmNonstarbookingsByIds" parameterType="String">
        update nonstarbookings set recorded = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>