<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hotel.mapper.NonstarhotelreviewsMapper">
    
    <resultMap type="Nonstarhotelreviews" id="NonstarhotelreviewsResult">
        <result property="id"    column="id"    />
        <result property="hotelId"    column="hotel_id"    />
        <result property="content"    column="content"    />
        <result property="guestId"    column="guest_id"    />
        <result property="rating"    column="rating"    />
        <result property="roomTypeId"    column="room_type_id"    />
        <result property="reviewDate"    column="review_date"    />
    </resultMap>

    <sql id="selectNonstarhotelreviewsVo">
        select id, hotel_id, content, guest_id, rating, room_type_id, review_date from nonstarhotelreviews
    </sql>

    <select id="selectNonstarhotelreviewsList" parameterType="Nonstarhotelreviews" resultMap="NonstarhotelreviewsResult">
        <include refid="selectNonstarhotelreviewsVo"/>
        <where>  
            <if test="hotelId != null "> and hotel_id = #{hotelId}</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="guestId != null "> and guest_id = #{guestId}</if>
            <if test="rating != null "> and rating = #{rating}</if>
        </where>
    </select>
    
    <select id="selectNonstarhotelreviewsById" parameterType="Long" resultMap="NonstarhotelreviewsResult">
        <include refid="selectNonstarhotelreviewsVo"/>
        where id = #{id}
    </select>

    <insert id="insertNonstarhotelreviews" parameterType="Nonstarhotelreviews" useGeneratedKeys="true" keyProperty="id">
        insert into nonstarhotelreviews
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hotelId != null">hotel_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="guestId != null">guest_id,</if>
            <if test="rating != null">rating,</if>
            <if test="roomTypeId != null">room_type_id,</if>
            <if test="reviewDate != null">review_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hotelId != null">#{hotelId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="guestId != null">#{guestId},</if>
            <if test="rating != null">#{rating},</if>
            <if test="roomTypeId != null">#{roomTypeId},</if>
            <if test="reviewDate != null">#{reviewDate},</if>
         </trim>
    </insert>

    <update id="updateNonstarhotelreviews" parameterType="Nonstarhotelreviews">
        update nonstarhotelreviews
        <trim prefix="SET" suffixOverrides=",">
            <if test="hotelId != null">hotel_id = #{hotelId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="guestId != null">guest_id = #{guestId},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="roomTypeId != null">room_type_id = #{roomTypeId},</if>
            <if test="reviewDate != null">review_date = #{reviewDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNonstarhotelreviewsById" parameterType="Long">
        delete from nonstarhotelreviews where id = #{id}
    </delete>

    <delete id="deleteNonstarhotelreviewsByIds" parameterType="String">
        delete from nonstarhotelreviews where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>